.navbar-brand{
    font-weight:bold;
    font-size:130%;
    padding-left:2px;
}

img{
    padding:0 1em;
    margin:1px;
}
header{
    border-bottom: black solid 3px;
    padding-top: 1.5em;
    padding-bottom: 2em;
}

body{
    background:#f9c4cd;

}
body::before {
    content:"";
    background:#f9c4cd;
    background-image:url(../images/background-img.png);
    background-image:url(../images/background-img.png),radial-gradient(circle,#f9c4cd,#f69ba0);
    background-repeat: no-repeat;
    background-size:40%;
    background-position-x:400px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0.3;
}
#section_1{
    width:20%;
    float:right;
    padding:0 20px 20px;
    background:#f9c4cd;
}
#section_2{
    width:70%;
    padding-bottom:20px;
    padding-left:20px;
    background:#f9c4cd;
    float:right;
    bottom:0;
}


#s_text1{
        float:left;
        color:#ff274d;

}
#s_text2{
        float:left;
        color:#ff274d;

}
#banner{
        color:#FF002d;
        font-weight: bold;
        padding:1em;
}







.container {
    padding: 2px 16px;
}
#recipe_1{
    font-weight: bold;
    color:black;
    opacity:1.0;
    float:left;
    text-align:center;
    position:relative;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}