.slideshow{
    position:absolute;
    left:40%;
    width:70%;
    padding:3rem;
    top:150px;

}
.slideshow img{
    width:100%;
    height:400px;
    object-fit:cover;

}
#text {
    width: 800px;
    padding: 10px;
    border: 5px hotpink;
    margin: 0;
    color:black;
    font-family:Optima, sans-serif;
    float:left;
    font-size:16pt;
}